#CANable 2 udev rules - brings up can interface for 2 specific devices

SUBSYSTEM=="usb", ATTR{idVendor}=="1d50", ATTR{idProduct}=="606f", ATTR{serial}=="00240007574D430820333735", MODE="0666",  GROUP+="dialout", SYMLINK+="can0", RUN+="/opt/bin/myRide/setup_canable_gs 0"
SUBSYSTEM=="usb", ATTR{idVendor}=="1d50", ATTR{idProduct}=="606f", ATTR{serial}=="00270006524E430D20373533", MODE="0666",  GROUP+="dialout", SYMLINK+="can1", RUN+="/opt/bin/myRide/setup_canable_gs 1"
